.heres {
  position: absolute;
  width: 567px;
  height: 165px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  color: #0d0d0d;
  margin-top: 125px;
  margin-left: 280px;
}
.limited {
  position: absolute;
  width: 587px;
  height: 165px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  color: #ff5050;
  margin-top: 235px;
  margin-left: 280px;
}
.galochki {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 595px;
  height: 268px;
  margin-left: 1035px;
  margin-top: 107px;
}
.galochka1 {
  width: 595px;
  height: 42px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #0d0d0d;
  opacity: 0.6;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.galochka2 {
  width: 595px;
  height: 42px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #0d0d0d;
  opacity: 0.6;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.galochka3 {
  width: 595px;
  height: 42px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #0d0d0d;
  opacity: 0.6;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.galochka4 {
  width: 595px;
  height: 42px;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #0d0d0d;
  opacity: 0.6;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.galochkinorm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 595px;
  height: 268px;
  margin-left: 995px;
  margin-top: 107px;
}
.galochka5 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  margin-top: 1px;
}
.galochka6 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  margin-top: 63px;
}
.galochka7 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  margin-top: 126px;
}
.galochka8 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  margin-top: 188px;
}
.pramoyg {
  position: absolute;
  width: 1320px;
  height: 543px;
  margin-left: 300px;
  margin-top: 490px;
  background: #fff6f6;
}
.whats {
  position: absolute;
  width: 573px;
  height: 55px;
  margin-left: 94px;
  margin-top: 75px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  color: #0d0d0d;
}
.perechislenie1 {
  width: 433px;
  height: 52px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 130px;
  margin-top: 170px;
}
.perechislenie2 {
  width: 433px;
  height: 52px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 130px;
  margin-top: 20px;
}
.perechislenie3 {
  width: 433px;
  height: 52px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 130px;
  margin-top: 20px;
}
.perechislenie4 {
  width: 433px;
  height: 52px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 130px;
  margin-top: 20px;
}
.tochka1 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 90px;
  margin-top: -265px;
}
.tochka2 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 90px;
  margin-top: -195px;
}
.tochka3 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 90px;
  margin-top: -122px;
}
.tochka4 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 90px;
  margin-top: -52px;
}
.fotki {
  position: absolute;
  width: 487px;
  height: 365px;
  margin-left: 709px;
  margin-top: -340px;
}
.pramoygol2 {
  position: absolute;
  width: 1920px;
  height: 793px;
  margin-top: 1150px;
  background-color: #f8f8f8;
}
.getyour {
  position: absolute;
  width: 591px;
  height: 55px;
  margin-left: 654px;
  margin-top: 48px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  color: #0d0d0d;
}
.fotki2 {
  position: relative;
  width: 1221px;
  height: 440px;
  margin-left: 339px;
  margin-top: 140px;
}
.textft {
  width: 432px;
  height: 24px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 91%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
}
.textfoto {
  position: absolute;
  margin-left: 403px;
  margin-top: -50px;
}
.textfoto2 {
  position: absolute;
  margin-left: 799px;
  margin-top: -50px;
}
.textfoto3 {
  position: absolute;
  margin-left: 1189px;
  margin-top: -50px;
}
.textft2 {
  width: 400px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
}
.textfoto4 {
  position: absolute;
  margin-left: 340px;
  margin-top: 40px;
}
.textfoto5 {
  position: absolute;
  margin-left: 760px;
  margin-top: 40px;
}
.textfoto6 {
  position: absolute;
  margin-left: 1179px;
  margin-top: 40px;
}
.fotki3 {
  position: relative;
  width: 1221px;
  height: 440px;
  margin-left: 339px;
  margin-top: 2070px;
}
.goodfor {
  position: absolute;
  width: 168px;
  height: 18px;
  margin-left: 309px;
  margin-top: -481px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #ff5050;
}
.everyday {
  position: absolute;
  width: 313px;
  height: 55px;
  margin-left: 337px;
  margin-top: -439px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
}
.textopat {
  position: absolute;
  width: 387px;
  height: 78px;
  margin-left: 341px;
  margin-top: -334px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
}
.shopall {
  position: absolute;
  z-index: 3;
  margin-top: -60px;
  margin-left: 1419px;
  width: 145px;
  height: 50px;
  background-color: rgba(255, 80, 80, 1);
}
.all {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 91%;
  text-transform: uppercase;
  color: #ffffff;
  width: 102px;
  height: 20px;
  padding-left: 22px;
  padding-top: 15px;
}
.pramoygolvnytri {
  position: absolute;
  width: 1220px;
  height: 301px;
  margin-left: 350px;
  margin-top: 127px;
  background: #fff6f6;
}
.gryzovik {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 65px;
  margin-top: 87px;
}
.medal {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 345px;
  margin-top: 87px;
}
.korobka {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 635px;
  margin-top: 87px;
}
.footballka {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 915px;
  margin-top: 87px;
}
.textpng {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
}
.text1 {
  position: absolute;
  width: 250px;
  height: 78px;
  margin-left: 60px;
  margin-top: 151px;
}
.text2 {
  position: absolute;
  width: 250px;
  height: 78px;
  margin-left: 340px;
  margin-top: 151px;
}
.text3 {
  position: absolute;
  width: 250px;
  height: 78px;
  margin-left: 630px;
  margin-top: 151px;
}
.text4 {
  position: absolute;
  width: 250px;
  height: 78px;
  margin-left: 915px;
  margin-top: 151px;
}
.pramoygol4 {
  position: absolute;
  width: 1920px;
  height: 1350px;
  margin-top: 550px;
  background-color: #f8f8f8;
}
.select {
  position: absolute;
  width: 507px;
  height: 55px;
  margin-left: 707px;
  margin-top: 100px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
}
.new {
  position: absolute;
  width: 644px;
  height: 26px;
  margin-left: 638px;
  margin-top: 210px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #0d0d0d;
}
.pramoygolbel1 {
  position: absolute;
  width: 387px;
  height: 703px;
  margin-left: 320px;
  margin-top: 359px;
  background: #ffffff;
}
.pramoygolbel2 {
  position: absolute;
  width: 387px;
  height: 703px;
  margin-left: 765px;
  margin-top: 359px;
  background: #ffffff;
}
.pramoygolbel3 {
  position: absolute;
  width: 387px;
  height: 703px;
  margin-left: 1210px;
  margin-top: 359px;
  background: #ffffff;
}
.month {
  position: absolute;
  width: 263px;
  height: 24px;
  margin-left: 10px;
  margin-top: 39px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
}
.doll {
  position: absolute;
  width: 78px;
  height: 50.47px;
  margin-left: 28px;
  margin-top: 80px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 34.4118px;
  line-height: 38px;
  text-align: center;
  color: #0d0d0d;
}
.months {
  position: absolute;
  width: 60px;
  height: 26px;
  margin-left: 106px;
  margin-top: 90px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.4;
}
.foot1 {
  position: absolute;
  width: 307px;
  height: 305px;
  margin-left: 40px;
  margin-top: 143px;
}
.foot2 {
  position: absolute;
  width: 307px;
  height: 305px;
  margin-left: 40px;
  margin-top: 143px;
}
.foot3 {
  position: absolute;
  width: 307px;
  height: 305px;
  margin-left: 40px;
  margin-top: 143px;
}
.billed {
  position: absolute;
  width: 110px;
  height: 26px;
  margin-left: 42px;
  margin-top: 460px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.prepay3 {
  position: absolute;
  width: 173px;
  height: 26px;
  margin-left: 42px;
  margin-top: 460px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.prepay6 {
  position: absolute;
  width: 182px;
  height: 26px;
  margin-left: 42px;
  margin-top: 460px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.perechis1 {
  position: absolute;
  width: 137px;
  height: 26px;
  margin-left: 75px;
  margin-top: 505px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.perechis2 {
  position: absolute;
  width: 233px;
  height: 26px;
  margin-left: 75px;
  margin-top: 542px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.perechis21 {
  position: absolute;
  width: 233px;
  height: 26px;
  margin-left: 75px;
  margin-top: 542px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.4;
}
.perechis3 {
  position: absolute;
  width: 209px;
  height: 26px;
  margin-left: 75px;
  margin-top: 580px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}
.perechis32 {
  position: absolute;
  width: 209px;
  height: 26px;
  margin-left: 75px;
  margin-top: 580px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.4;
}
.galka1 {
  position: absolute;
  margin-left: 45px;
  margin-top: 510px;
}
.galka2 {
  position: absolute;
  margin-left: 45px;
  margin-top: 548px;
}
.galka3 {
  position: absolute;
  margin-left: 45px;
  margin-top: 586px;
}
.krest2 {
  position: absolute;
  margin-left: 45px;
  margin-top: 548px;
  opacity: 0.4;
}
.krest3 {
  position: absolute;
  margin-left: 45px;
  margin-top: 586px;
  opacity: 0.4;
}
.selecta {
  width: 213px;
  height: 20px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 91%;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
  margin-left: 6px;
}
.selecta1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 38px;
  gap: 10px;
  position: absolute;
  width: 189px;
  height: 45px;
  margin-left: 385px;
  margin-top: 1019px;
  background: #ff5050;
}
.selecta2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 38px;
  gap: 10px;
  position: absolute;
  width: 189px;
  height: 45px;
  margin-left: 826px;
  margin-top: 1019px;
  background: #ff5050;
}
.selecta3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 38px;
  gap: 10px;
  position: absolute;
  width: 189px;
  height: 45px;
  margin-left: 1268px;
  margin-top: 1019px;
  background: #ff5050;
}
.yourplan {
  position: absolute;
  width: 569px;
  height: 52px;
  margin-left: 676px;
  margin-top: 1185px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #0d0d0d;
}
.youcan {
  position: absolute;
  width: 569px;
  height: 52px;
  margin-left: 676px;
  margin-top: 1214px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #0d0d0d;
}
.first {
  width: 416px;
  height: 110px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 91%;
  text-transform: uppercase;
  color: #0d0d0d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 390px;
  margin-top: 2055px;
}
.textopat2 {
  width: 416px;
  height: 301px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d0d0d;
  opacity: 0.6;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 390px;
  margin-top: 30px;
}
.knopka {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 38px;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 25px;
  margin-left: 390px;
  margin-top: 35px;
  background: #ff5050;
}
.learnmore {
  width: 213px;
  height: 20px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 91%;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 5px;
  margin-left: 3px;
}
.isobrash {
  position: absolute;
  width: 605px;
  height: 475px;
  margin-left: 965px;
  margin-top: -472px;
}
.myshik {
  position: absolute;
  width: 1920px;
  height: 940px;
  margin-left: 0px;
  margin-top: 227px;
  background: #0D0D0D;
}
.goodfor {
  position: absolute;
  width: 168px;
  height: 18px;
  margin-left: 320px;
  margin-top: 540px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.everyday {
  position: absolute;
  width: 313px;
  height: 55px;
  margin-left: 348px;
  margin-top: 580px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.textopat3 {
  position: absolute;
  width: 387px;
  height: 78px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 360px;
  margin-top: 680px;
}
.knopka2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 38px;
  gap: 10px;
  position: absolute;
  width: 104px;
  height: 25px;
  margin-left: 360px;
  margin-top: 800px;
  background: #ff5050;
}
.shopall2 {
  width: 213px;
  height: 20px;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 91%;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 3px;
  margin-left: 3px;
}
.tochkab1 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 350px;
  margin-top: 1054px;
}
.tochkab2 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 383px;
  margin-top: 1054px;
}
.tochkab3 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 414px;
  margin-top: 1054px;
}
.recent {
  position: absolute;
  width: 840px;
  height: 55px;
  margin-left: 560px;
  margin-top: 1303px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}
.footballki {
  position: absolute;
  width: 1028px;
  height: 331px;
  margin-left: 479px;
  margin-top: 1444px;
}
.textal {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}
.textal2 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0D0D0D;
}
.texta1 {
  position: absolute;
  width: 350px;
  height: 78px;
  margin-left: 470px;
  margin-top: 1812px;
}
.texta2 {
  position: absolute;
  width: 350px;
  height: 78px;
  margin-left: 832px;
  margin-top: 1812px;
}
.texta3 {
  position: absolute;
  width: 350px;
  height: 78px;
  margin-left: 1193px;
  margin-top: 1812px;
}
.texta4 {
  position: absolute;
  width: 89px;
  height: 26px;
  margin-left: 600px;
  margin-top: 1856px;
}
.texta5 {
  position: absolute;
  width: 89px;
  height: 26px;
  margin-left: 960px;
  margin-top: 1856px;
}
.texta6 {
  position: absolute;
  width: 89px;
  height: 26px;
  margin-left: 1316px;
  margin-top: 1856px;
}
.tochki1 {
  position: absolute;
  width: 105px;
  height: 23px;
  margin-left: 595px;
  margin-top: 1902px;
  background: #0D0D0D;
}
.tochki2 {
  position: absolute;
  width: 105px;
  height: 23px;
  margin-left: 955px;
  margin-top: 1902px;
  background: #0D0D0D;
}
.tochki3 {
  position: absolute;
  width: 105px;
  height: 23px;
  margin-left: 1310px;
  margin-top: 1902px;
  background: #0D0D0D;
}
.pramoygol5 {
  position: absolute;
  width: 1920px;
  height: 593px;
  margin-left: 0px;
  margin-top: 2021px;
  background: #F8F8F8;
}
.welove {
  position: absolute;
  width: 330px;
  height: 18px;
  margin-left: 825px;
  margin-top: 125px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF5050;
}
.textopyat4 {
  position: absolute;
  width: 595px;
  height: 132px;
  margin-left: -67px;
  margin-top: 211px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: #0D0D0D;
  opacity: 0.2;
}
.textopyat5 {
  position: absolute;
  width: 595px;
  height: 132px;
  margin-left: 680px;
  margin-top: 211px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: #0D0D0D;
}
.textopyat6 {
  position: absolute;
  width: 595px;
  height: 132px;
  margin-left: 1394px;
  margin-top: 211px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: #0D0D0D;
  opacity: 0.2;
}
.olivia1 {
  position: absolute;
  width: 163px;
  height: 18px;
  margin-left: 145px;
  margin-top: 382px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0D0D0D;
  opacity: 0.2;
}
.olivia2 {
  position: absolute;
  width: 163px;
  height: 18px;
  margin-left: 890px;
  margin-top: 382px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0D0D0D;
  opacity: 0.6;
}
.olivia3 {
  position: absolute;
  width: 163px;
  height: 18px;
  margin-left: 1607px;
  margin-top: 382px;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0D0D0D;
  opacity: 0.2;
}
.tochk {
  position: absolute;
  width: 67px;
  height: 20px;
  margin-left: 931px;
  margin-top: 489px;
}
.marki {
  position: absolute;
  width: 1060px;
  height: 167px;
  margin-left: 433px;
  margin-top: 2639px;
}
.pramoygol6 {
  position: absolute;
  width: 1920px;
  height: 422px;
  margin-left: 0px;
  margin-top: 2892px;
  background: #262425;
}
.geekfuel {
  position: absolute;
  width: 314px;
  height: 64px;
  margin-left: 250px;
  margin-top: 130px;
}
.bundles {
  width: 65px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 800px;
  margin-top: 100px;
}
.exclusive {
  width: 113px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 800px;
  margin-top: 45px;
}
.mondo {
  width: 56px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 800px;
  margin-top: 45px;
}
.collectibles {
  width: 102px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 800px;
  margin-top: 45px;
}
.teeclub {
  width: 65px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 1030px;
  margin-top: -195px;
}
.ghostbusters {
  width: 112px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 1030px;
  margin-top: 45px;
}
.gift {
  width: 146px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 1030px;
  margin-top: 45px;
}
.login {
  width: 45px;
  height: 15px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  margin-left: 1030px;
  margin-top: 45px;
}
.signup {
  position: absolute;
  width: 268px;
  height: 20px;
  margin-left: 1288px;
  margin-top: 8612px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 1348px;
  margin-top: -200px;
}
.enteryour {
  position: absolute;
  width: 219px;
  height: 18px;
  margin-left: 1288px;
  margin-top: 8663px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-left: 1349px;
  margin-top: -145px;
}
.strelka {
  position: absolute;
  width: 18px;
  height: 12px;
  margin-left: 1610px;
  margin-top: -142px;
}
.dop {
  position: absolute;
  width: 239px;
  height: 70px;
  margin-left: 1338px;
  margin-top: -113px;
}
.palka {
  position: absolute;
  width: 1920px;
  margin-left: 0px;
  margin-top: 54px;
}
.dop2 {
  position: absolute;
  width: 285px;
  height: 15px;
  margin-left: 280px;
  margin-top: 93px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
}
.dop3 {
  position: absolute;
  width: 237px;
  height: 15px;
  margin-left: 1330px;
  margin-top: 93px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
}